body{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 25vh;
    background-color: #12141D;
}

.cs_box{
    background: linear-gradient(to right,#222831,#393E46,#222831);
    border-radius: 1vh;
}

h1{
    font-family: "Orbitron";
    color: cornsilk;
    font-size: 7.5vh;
    margin: 3.5vh;
    text-align: center;
    text-shadow: 2px 2px 4px cornsilk;
}

#timerbox{    
    background: #1E2029;
    width: 77.5vh;
    border-radius: 1vh;
}

#timer_head{
    color: cornsilk;
    font-size: 3.5vh;
    margin-bottom: 1vh;
    font-family: "Orbitron";
    text-align: center;
}

.dhms{
    display: inline;
}

#d{
    margin-right: 5vh;
}

#h{
    margin-right: 6vh;
}

#m{
    margin-right: 7.5vh;
}

#s{
    margin-right: 0px;
}
#timer{
    color: cornsilk;
    font-size: 50px;
    text-align: center;
    font-family: "Orbitron";
}

@media(max-width:576px){
    body{
        width: max-content;
        vertical-align: middle;
    }
}